# ----------------------------------------------------------------------------------------------------------------------
#                                                    Git ignored files
# ----------------------------------------------------------------------------------------------------------------------
# MAC
*.DS_Store

# PHP Storm
.idea/
# ----------------------------------------------------------------------------------------------------------------------
#                                                  Git ignored files END
# ----------------------------------------------------------------------------------------------------------------------